
<div class="section">
  <h1 class="title"><%= list.title %></h1>
  <h2 class="subtitle">By <%= list.createdBy.username %></h2>
  <% if(locals.isLoggedIn && list.belongsTo === locals.user.id) { %>
    <form method="POST" action="/lists/<%= list.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-small">Delete list</button>
    </form>
  <% } %>
  <br>





      <% if(locals.isLoggedIn && list.belongsTo === locals.user.id) { %>
        <ul id="products">
        </ul>

        <form method="POST" id= <%= list.id %> action="/lists/<%= list.id %>/items">

                  <%# <select name="category" id="category">
                    <option value="instructions">- Please select a category -</option>
                    <option value="1">Eyes</option>
                    <option value="2">Skin</option>
                    <option value="3">Lips</option>
                    <option value="4">Brushes and tools</option>
                    <option value="5">Skincare</option>
                  </select>


                  <select name="product" id="product">
                    <option value="instructions">- Please select a product -</option>
                    <option value="1">Mascara</option>
                    <option value="1">Eyeliner</option>
                    <option value="1">Eyebrow pomade</option>
                    <option value="1">Eyeshadow palette</option>
                    <option value="2">Primer</option>
                    <option value="2">Foundation</option>
                    <option value="2">Concealer</option>
                    <option value="2">Blush</option>
                    <option value="2">Highlighter</option>
                    <option value="3">Nude lipstick</option>
                    <option value="3">Red lipstick</option>
                    <option value="4">Powder brush</option>
                    <option value="4">Eyelash curler</option>
                    <option value="4">Eyeshadow brush</option>
                    <option value="4">Blush brush</option>
                    <option value="4">Q-tips</option>
                    <option value="4">Tweezers</option>
                    <option value="4">Makeup wipes</option>
                    <option value="5">Makeupremover</option>
                    <option value="5">Moisturiser</option>
                  </select>
          <input type="submit" value='Add to list'>

         %>
          <button class="button is-info">Add item</button>
        </form>
      <% } %>
