<h1>List Show</h1>



<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Must have list</h2>
      <ul class="list-group" id="musthavs">
        <li class="list-group-item">Moisturiser</li>
        <li class="list-group-item">Primer</li>
        <li class="list-group-item">Concealer</li>
        <li class="list-group-item">Foundation</li>
        <li class="list-group-item">Eyebrow pomade</li>
        <li class="list-group-item">Eyeliner</li>
        <li class="list-group-item">Mascara</li>
        <li class="list-group-item">Nude lipstick</li>
        <li class="list-group-item">Red lipstick</li>
        <li class="list-group-item">Blush</li>
        <li class="list-group-item">Highlighter</li>
        <li class="list-group-item">Eyeshadow palette</li>
        <li class="list-group-item">Q-tips</li>
        <li class="list-group-item">Make-up wipes</li>
        <li class="list-group-item">Tweezers</li>
        <li class="list-group-item">Eyelash curler</li>
        <li class="list-group-item">Spoolie brush</li>
        <li class="list-group-item">Powder brush</li>
        <li class="list-group-item">Blush brush</li>
        <li class="list-group-item">Eyeshadow brush</li>
        <li class="list-group-item">Crease brush</li>
      </ul>
    </div>
    <div class="col-4">

      <h2><%= list.name %></h2>
      <ul class="list-group">
      <% list.products.forEach((product) => { %>
        <li class="list-group-item">
          <%= product.name %>
          <form method="POST" action="/lists/<%= list.id %>/products/<%= product.id %>">
          <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-light">&#x2715;</button>
          </form>
        </li>
    <% }) %>
    </ul>
</div>


    <div class="col-4">
      <h4>Add a product to the list by first choosing the category and then the product</h4>
      <form method="POST" id="<%= list.id %>" action="/lists/<%= list.id %>/products">

        <select class="form-control" name="category" id="category">
          <option value="instructions" selected="true" disabled="disabled"> Categories </option>
          <option class="one" value="eyes">Eyes</option>
          <option class="two" value="skin">Skin</option>
          <option class="three" value="lips">Lips</option>
          <option class="four" value="brushesAndTools">Brushes and tools</option>
          <option class="five" value="skincare">Skincare</option>
        </select>

        <select class="form-control" name="name" id="name">
          <option value="instructions" selected="true" disabled="disabled"> Products </option>
          <option class="eyes" selected="true" disabled="disabled">Products</option>
          <option class="eyes" value="Mascara">Mascara</option>
          <option class="eyes" value="Eyeliner">Eyeliner</option>
          <option class="eyes" value="Eyebrow pomade">Eyebrow pomade</option>
          <option class="eyes" value="Eyeshadow palett">Eyeshadow palette</option>
          <option class="skin" selected="true" disabled="disabled">Products</option>
          <option class="skin" value="Primer">Primer</option>
          <option class="skin" value="Foundation">Foundation</option>
          <option class="skin" value="Concealer">Concealer</option>
          <option class="skin" value="Blush">Blush</option>
          <option class="skin" value="Highlighter">Highlighter</option>
          <option class="lips" selected="true" disabled="disabled">Products</option>
          <option class="lips" value="Nude lipstick">Nude lipstick</option>
          <option class="lips" value="Red lipstick">Red lipstick</option>
          <option class="brushesAndTools" selected="true" disabled="disabled">Products</option>
          <option class="brushesAndTools" value="Powder brush">Powder brush</option>
          <option class="brushesAndTools" value="Eyelash curler">Eyelash curler</option>
          <option class="brushesAndTools" value="Eyeshadow brush">Eyeshadow brush</option>
          <option class="brushesAndTools" value="Blush brush">Blush brush</option>
          <option class="brushesAndTools" value="Q-tips">Q-tips</option>
          <option class="brushesAndTools" value="Tweezers">Tweezers</option>
          <option class="skincare" selected="true" disabled="disabled">Products</option>
          <option class="skincare" value="Makeup wipes">Makeup wipes</option>
          <option class="skincare" value="Makeupremover">Makeupremover</option>
          <option class="skincare" value="Moisturiser">Moisturiser</option>
        </select>
        <br>
        <input type="submit" value='Add to list' type="button" class="btn btn-light">
      </form>
    </div>
  </div>
</div>
