<h1>List Show</h1>



<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Must have list</h2>
      <ul class="list-group" id="musthavs">
        <li class="list-group-item">Moisturiser</li>
        <li class="list-group-item">Primer</li>
        <li class="list-group-item">Concealer</li>
        <li class="list-group-item">Foundation</li>
        <li class="list-group-item">Eyebrow pomade</li>
        <li class="list-group-item">Eyeliner</li>
        <li class="list-group-item">Mascara</li>
        <li class="list-group-item">Nude lipstick</li>
        <li class="list-group-item">Red lipstick</li>
        <li class="list-group-item">Blush</li>
        <li class="list-group-item">Highlighter</li>
        <li class="list-group-item">Eyeshadow palette</li>
        <li class="list-group-item">Q-tips</li>
        <li class="list-group-item">Make-up wipes</li>
        <li class="list-group-item">Tweezers</li>
        <li class="list-group-item">Eyelash curler</li>
        <li class="list-group-item">Spoolie brush</li>
        <li class="list-group-item">Powder brush</li>
        <li class="list-group-item">Blush brush</li>
        <li class="list-group-item">Eyeshadow brush</li>
        <li class="list-group-item">Crease brush</li>
      </ul>
    </div>
    <div class="col-4">

      <h2><%= list.name %></h2>
      <ul class="list-group">
      <% list.products.forEach((product) => { %>
        <li class="list-group-item">
          <%= product.name %>
          <form method="POST" action="/lists/<%= list.id %>/products/<%= product.id %>">
          <input type="hidden" name="_method" value="DELETE">
        <button type="button" class="btn btn-light">&#x2715;</button>
          </form>
        </li>
    <% }) %>
    </ul>
</div>


    <div class="col-4">
      <h4>Add a product to the list by first choosing the category and then the product</h4>
      <form method="POST" id="<%= list.id %>" action="/lists/<%= list.id %>/products">

        <select class="form-control" name="category" id="category">
          <option value="instructions"> Categories </option>
          <option value="1">Eyes</option>
          <option value="2">Skin</option>
          <option value="3">Lips</option>
          <option value="4">Brushes and tools</option>
          <option value="5">Skincare</option>
        </select>

        <select class="form-control "name="name" id="name">
          <option value="instructions"> Products </option>
          <option value="Mascara">Mascara</option>
          <option value="Eyeliner">Eyeliner</option>
          <option value="Eyebrow pomade">Eyebrow pomade</option>
          <option value="Eyeshadow palett">Eyeshadow palette</option>
          <option value="Primer">Primer</option>
          <option value="Foundation">Foundation</option>
          <option value="Concealer">Concealer</option>
          <option value="Blush">Blush</option>
          <option value="Highlighter">Highlighter</option>
          <option value="Nude lipstick">Nude lipstick</option>
          <option value="Red lipstick">Red lipstick</option>
          <option value="Powder brush">Powder brush</option>
          <option value="Eyelash curler">Eyelash curler</option>
          <option value="Eyeshadow brush">Eyeshadow brush</option>
          <option value="Blush brush">Blush brush</option>
          <option value="Q-tips">Q-tips</option>
          <option value="Tweezers">Tweezers</option>
          <option value="Makeup wipes">Makeup wipes</option>
          <option value="Makeupremover">Makeupremover</option>
          <option value="Moisturiser">Moisturiser</option>
        </select>

        <input type="submit" value='Add to list' type="button" class="btn btn-light">

      </form>

    </div>

  </div>

</div>
